<div class="container">
  <div class="header">
    <div class="list-header">
      <div class="list-title">Lista de Imóveis</div>
      <app-button *ngIf="userRole !== 'Porteiro'" variant="primary" size="md" (click)="novo()">Novo imóvel</app-button>
    </div>
  </div>

  <app-table-filters 
    [filtersConfig]="[
      { key: 'searchBloco', placeholder: 'Bloco' },
      { key: 'searchApartamento', placeholder: 'Apartamento' }
    ]"
    (filtersChange)="onFiltersChange($event)">
  </app-table-filters>

  <table class="itens-table">
    <thead>
      <tr>
        <th class="sortable" (click)="sortBy('id')" 
          [ngClass]="{ 'sorted-asc': orderBy==='id' && direction==='ASC', 'sorted-desc': orderBy==='id' && direction==='DESC' }">
          ID
          <span class="sort-indicator">▾</span>
        </th>
        <th class="sortable" (click)="sortBy('bloco')" 
          [ngClass]="{ 'sorted-asc': orderBy==='bloco' && direction==='ASC', 'sorted-desc': orderBy==='bloco' && direction==='DESC' }">
          Bloco
          <span class="sort-indicator">▾</span>
        </th>
        <th class="sortable" (click)="sortBy('apartamento')" 
          [ngClass]="{ 'sorted-asc': orderBy==='apartamento' && direction==='ASC', 'sorted-desc': orderBy==='apartamento' && direction==='DESC' }">
          Apartamento
          <span class="sort-indicator">▾</span>
        </th>
        <th class="sortable" (click)="sortBy('boxGaragem')" 
          [ngClass]="{ 'sorted-asc': orderBy==='boxGaragem' && direction==='ASC', 'sorted-desc': orderBy==='boxGaragem' && direction==='DESC' }">
          Box
          <span class="sort-indicator">▾</span>
        </th>
        <th class="actions">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of imoveis">
        <td data-label="ID">{{ item.id }}</td>
        <td data-label="Bloco">{{ item.bloco }}</td>
        <td data-label="Apartamento">{{ item.apartamento }}</td>
        <td data-label="Box">{{ item.boxGaragem }}</td>
        <td class="actions" data-label="Ações">
          <app-button variant="outline" size="sm" (click)="editar(item.id)"><span class="icon">
            ✎</span> <span>Editar</span>
          </app-button>
          <app-button variant="danger" size="sm" (click)="excluir(item.id)"><span class="icon">
            🗑</span> <span>Excluir</span>
          </app-button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [totalCount]="totalCount"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
