<div class="table-filters">
  <div *ngFor="let f of filtersConfig" class="mb-2" style="flex:1">
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="filters[f.key]" 
      [placeholder]="f.placeholder" 
      (keyup.enter)="apply()" />
  </div>

  <select class="form-control" [(ngModel)]="pageSize" (change)="apply()">
    <option *ngFor="let p of pageSizeOptions" [value]="p">{{ p }}</option>
  </select>

  <app-button variant="primary" (click)="apply()">Aplicar</app-button>
  <app-button variant="outline" (click)="clear()">Limpar</app-button>
</div>
