:host {
  display: block;
  width: 100%;
}

.form-group {
  width: 100%;
}

.form-group {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.form-label { min-width: 140px; font-weight: 600; color: #374151; }
.form-control {
  flex:1;
  padding:10px 12px;
  border:1px solid #e6eef1;
  border-radius:8px;
  margin-left:12px;
  height:40px;
}

.form-control.ng-invalid.ng-touched {
  border: 1px solid #d9534f;
}

.form-error {
  color:#ef4444;
  font-size:13px;
  margin-top:6px;
}
